MONGODB_URI         mongodb+srv://boklukunefe:9rprDcfHTjBYza7z@cluster0.1aarkvo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DATABASE    fatihsmg4
INGEST_TOKEN        066da6fc58a0fcd8a35deccb29e43ef7a0b3bcda5a3c2b99db86e64a5b982ec6
SESSION_SECRET      a89b011dfe7bec22c4f44f89e8e0ef647e6ff3289e84ca1b5b68c413ff7f4b77
DASHBOARD_PASSWORD  <sen belirle, en az 8 karakter>